*{
    font-family:cursive; 
}

body{
    background-color: #EFEFFF;
    padding: 20px 20px 20px 20px
}

h1{
    color: #942222;
    font-size: 30px;
    text-align : center ; 
}

h2{
    color: #0D8884;
} 

h3{
    color: #25908D;
}

h4{
    color:#45A7A4
}

p,li{
    color: #0E004A;
}


a{
    color: darkmagenta;
}